<div class="container">
<h1 style="font-family:'Times New Roman', Times, serif;padding-top: 1cm;">DASHBOARD-LISTING</h1>
<div class="div1">
    <mat-card class="card1">
        <mat-card-content>
          <h2>  LISTING PROPERTY </h2>
          <div><span style="font-size:medium ;"><b>26,873 </b> </span>
          <span style="color:rgb(73, 210, 73) ;"><b>03%</b></span></div>
          <p>This week </p>
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
          </mat-card-content>
      </mat-card>
      <mat-card class="card1">
        <mat-card-content>
        <h2>  SERVING CITIES </h2>
        <div><span style="font-size:medium ;"><b>384 </b> </span>
        <span style="color:rgb(73, 210, 73) ;"><b>7 New Cities</b></span></div>
        <p>This week </p>
          <mat-progress-bar mode="determinate" value="50" color="warn"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
      <mat-card class="card1">
        <mat-card-content> <h2>  ONLINE  VISITORS </h2>
          <div><span style="font-size:medium ;"><b>84,729 </b> </span>
          <span style="color:rgb(73, 210, 73) ;"><b>Avg 327 visits daily</b></span></div>
          <p>This week </p>
            <mat-progress-bar mode="determinate" value="50" color="warn"></mat-progress-bar></mat-card-content>
      </mat-card>
</div>
  <div class="div1">
    <mat-card class="card1">
        <mat-card-content>
          <h2>  ONLINE QUERIES </h2>
          <div><span style="font-size:medium ;"><b>87,239 </b> </span>
          <span style="color:rgb(73, 210, 73) ;"><b>38% <mat-icon>up</mat-icon></b></span></div>
          <p>past month</p>
            <mat-progress-bar mode="determinate" value="90" color="accent"></mat-progress-bar>
          </mat-card-content>
      </mat-card>
      <!-- <mat-card class="div1">
        <mat-card-content>
        <h3 style="margin-top:1rem;margin-left: 1rem">Your Current Plan</h3>
        <h1 style="font-weight: 800;font-size: 2.5rem; margin-left: 1rem;">$19</h1>
        <h5  class="my-4"style="font-weight: 600;margin-left: 1rem;" >/month</h5>
        <ul style="margin-right: 7rem; list-style-type: square;">
         <li style="margin-left: 1rem">Max listing items 2K</li>
         <li style="margin-left: 1rem">Max agents - 10</li>
        </ul>
      </mat-card-content>
      </mat-card> -->
     <div class="div1"  >
      <mat-card class="card2">
        <mat-card-content>
            <div>
               <h4 class="h4-style"><b>Recent Activities</b> </h4>
           <h5 class="h5-style"><b>Today</b></h5>
         <img src="../../assets/images/nikki.jpg" alt="" class="img-style"> 
      <p class="p-style">Mila Alba left a 5 star review on Albama’s House</p>
      <img src="../../assets/images/amay.jpg" alt="" class="img-style"> 
      <p class="p-style">Callback request from Bob Builder for the property Dimitri House</p>
      <mat-divider></mat-divider>
      <h5 class="h5-style"><b>Yesterday</b></h5>
      <img src="../assets/images/mathew.jpg" alt="" class="img-style"> 
      <p class="p-style">Congratulations to Tom Moody for joining 10+ club</p>
      <img src="../../assets/images/garry-sobars.jpg" alt="" class="img-style"> 
      <p class="p-style">Welcome to a new agent Tom Moody in the Company</p>
      <p class="p-style-Load">LOAD MORE</p>
      </div>
      </mat-card-content>
    </mat-card>


    
</div>
</div>
